pip==19.0.3
wheel==0.33.1
watchdog==0.9.0
flake8==3.7.7
tox==3.8.4
coverage==4.5.3
six==1.12.0
Sphinx==1.8.5
twine==1.13.0

mock==2.0.0
pytest==4.3.1
pytest-runner==4.4
procrunner==0.9.1
collective.checkdocs==0.2
